<footer>
    <div class="footer-container">
        <div class="footer-object">
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </div>
    </div>
</footer>
</body>

</html>